@font-face {
  font-family: "Courgette";
  src: url("../public/Fonts/Courgette/Courgette-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Madimi One";
  src: url("../public/Fonts/Madimi_One/MadimiOne-Regular.ttf");
  font-weight: 400;
}
