@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-[#0e0915] text-white;
}
html {
  @apply scroll-smooth;
}
/* GLOPAL */
.svg {
  @apply md:w-[140px] md:h-[160px] lg:w-[160px] lg:h-[160px] w-[100px] h-[100px] absolute top-[300px] md:fixed md:top-1/2 left-1/2 -translate-x-1/2 scale-[2] -translate-y-1/2  z-20;
  animation: place 1s 2.3s forwards;
}
@media (min-width: 768px) {
  .svg {
    @apply -ml-10;
  }
}
.svg svg {
  stroke-dasharray: 1140;
  stroke-dashoffset: 1140;
  animation: svg 2000ms forwards linear;
}
@media (min-width: 768px) {
  .svg svg {
    stroke-dasharray: 1240;
    stroke-dashoffset: 1240;
  }
}
@keyframes svg {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes place {
  to {
    @apply absolute -translate-x-1/2 top-1/2  -translate-y-1/2 scale-100 left-[60px] md:top-[30px] lg:top-[35px] 
     mr-[-20px] mt-[4px];
  }
}
.bg {
  @apply bg-[#0e0915] z-20  fixed w-full h-full top-0 left-0;
  animation: bg 1s 2.3s forwards;
}
@keyframes bg {
  to {
    opacity: 0;
    pointer-events: none;
  }
}
.mainHeader {
  @apply p-2 mb-4 text-3xl md:text-6xl;
}
.mainHeader span {
  @apply mx-[1px] cursor-default;
}
.mainHeader span:hover {
  @apply inline-block text-mainText drop-shadow-[1px_1px_6px_#5EEAD4];
  animation: gelatine 1s 1 both;
}
@keyframes gelatine {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.5, 0.7);
  }
  50% {
    transform: scale(1.1, 1);
  }
  75% {
    transform: scale(1.4, 0.9);
  }
}
/*  */
/* aside */

.nav li a {
  @apply flex items-center gap-[2px] cursor-pointer w-fit text-slate-600;
}
.nav li span {
  @apply hidden md:block w-5 h-[1px]   transition-all bg-slate-600;
}
.active span {
  @apply !w-10 !bg-white;
}
.active a {
  @apply !text-white;
}
/*  */
/* add Projects */
.projects div {
  @apply w-[300px] md:w-[400px];
}
.projects div label {
  @apply flex justify-between my-4 text-xl text-mainText;
}
.projects div input {
  @apply w-full p-2 text-black border rounded-md outline-none;
}
/*  */
/* about */
#about p:last-of-type a {
  @apply inline-block mx-1 w-fit transition-all text-mainText text-nowrap relative after:absolute after:h-0.5 after:w-0 after:transition-all after:bg-mainText after:left-0 after:-bottom-0.5 hover:after:w-full;
}
/*  */
/* skills */
.skills_brands {
  @apply text-center;
}
.skills_brands i {
  @apply text-4xl;
}
.skills_brands div {
  @apply w-[90px] flex-col flex justify-between h-[80px];
}
.skills_brands svg {
  @apply w-[50px] mx-auto h-fit;
}
/*  */
/* projects */
.loading {
  @apply w-[200px] mx-auto;
  stroke-dasharray: 200;
  stroke-dashoffset: 400;
  animation: loading 2s infinite linear;
}
@keyframes loading {
  to {
    stroke-dashoffset: 0; /* Ending point */
  }
}
.filter button {
  @apply px-[11px] py-2 text-xs transition-all border rounded-md md:text-base md:px-5 md:py-2 bg-black text-mainText border-mainText;
}
.filter .active {
  @apply rounded-lg text-active bg-mainText;
}
/*  */

/* card */
.techs span {
  @apply min-w-[60px] md:min-w-[70px] py-3 px-2.5 text-center cursor-default rounded-full bg-mainBG text-mainText capitalize;
}
.card a {
  background-image: url("../public/3oriNXBK9sX7P4f39u.webp");
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
}

.client-project {
  background-image: url("../public/3oriNXBK9sX7P4f39u.webp");
  background-size: cover;
  z-index: 1;
  position: relative;
}
.client-project::after {
  content: "";
  @apply absolute top-0 left-0 bg-black rounded-full opacity-60 size-full -z-[1];
}
/*  */
